pandas==2.2.2
numpy==1.26.4
seaborn==0.13.2
matplotlib==3.8.4
statsmodels==0.14.2
mlxtend==0.23.1
scikit-learn==1.5.0
fastapi==0.112.0
uvicorn==0.30.1
networkx==3.5
pytest==8.4.0
httpx
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
twisted